<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand text-body" routerLink='/'>Project Manager</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-close" style="font-size:36px"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active-li">
              <a class="nav-link text-body" routerLink='addProject' routerLinkActive="active">Add Project<span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active-li">
              <a class="nav-link text-body" routerLink='addTask' routerLinkActive="active">Add Task</a>
            </li>
            <li class="nav-item" routerLinkActive="active-li">
              <a routerLink='addUser' class="nav-link text-body" routerLinkActive="active">Add User</a>
            </li>
            <li class="nav-item" routerLinkActive="active-li">
              <a routerLink='viewTask' class="nav-link text-body" routerLinkActive="active">View Task</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="progress-bar"></div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
