:root {
  box-sizing: border-box;
}
html,body{
  font-family: 'Open Sans', sans-serif !important;
  background:#e6e6e6 !important
}

.header-section {
  width: 100%;
  height: 70px;
  background: #035b80;
}

.app-branding {
  max-width: 1220px;
  margin: 10px auto;
}

.app-container {
  max-width: 1220px;
  margin: 0 auto 20px;
  min-height: 500px;
}

.user-section {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.App {
  text-align: center;
  width: 980px;
  margin: 0 auto;
  height: auto;
}

input {
  border: 1px solid #dddddd;
  padding: 5px;
  border-radius: 2px;
}

.form-section {
  margin: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px 2px #ccc;
  background-color:#fff;
}

.form-element {
  padding: 10px;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 2px;
  text-decoration: none;
  background: #233f7a;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #607467;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

button.secondary {
  background: #fff;
  border: 1px solid #035b80;
  color: #035b80
}

button.secondary:hover,
button.secondary:focus {
  background: #dadee0
}

.form-control{
  box-shadow: none;
  height: 34px !important;
  border-radius: 0;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul{
  border-radius: 0 !important;
}
.form-check-input{
  width:18px;
  height: 18px;
}
/* Tab Style **/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-top:0;
  border-right:0;
  border-left:0;
  border-bottom:2px solid #233f7a !important;
  font-weight: bold;
}
.nav-tabs{
  width: 65vh;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-bottom:2px solid #233f7a !important;
}
.btn-secondary{
  background-color: #b6baba !important;
  color: #FFF;
  border:0 !important;
}
.btn-secondary:focus,.btn-secondary:hover{
  background-color: #8d8e8e !important;
  border-color: #8d8e8e !important;
}
button.secondary{
  background-color: #979797 !important;
  color:#000;
  border-color:#e1e5ec !important;
}

button.secondary:focus,button.secondary:hover{
  background-color: #acb7ca !important;
  border-color: #acb7ca !important;
  color:#666 !important;
}
.projects-list-section{
  margin: 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.sort-filter-section{
  margin: 15px;
}
.list-item:nth-child(odd){
background-color:#e6ebf7;
margin:5px;
padding:10px;
}
.list-item:nth-child(even){ 
background-color:#FFF;
  margin:5px;
  padding:10px;
  }
  .list-group-item{
    padding:0 !important;
    border:0 !important;
    background-color:transparent;
  }
  ul.list-group{
    display: block;
    background-color: transparent;
  }
  ul.list-group > .list-group-item{
    float: left;
    margin: 3px;
  }
  .list-group-item.disabled, .list-group-item:disabled{
    background-color:transparent;
  }
  .col-3{
    max-width: 22%;
  }
.sort-filter-section .row:nth-child(2){
  margin: 10px;
}

/** Style for Slider */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  border:0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer; 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;  
  margin-top:-6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer; 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer; 
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.spinner-border {
  border-radius: 20px !important;
}
.has-error{
 border-color:#e73d4a !important;
}
nav{
  display: block;   
}
.bg-light{
  background-color:#77581d !important;
}
.navbar-light .navbar-brand{
  color:#fff;
  margin: 0 auto;
}